body {
    padding-top: 50px;
    padding-bottom: 20px;
}
h1 {
    position: fixed;
    top: -100%;
    text-align: center;
}
h2 {
    position: fixed;
    top: -100%;
    text-align: center;
}
.floating-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
